body{
    size: 100%;
    font-family: sans-serif;
}
.header
{
    
    margin-top:0;
    border:1px solid lightgrey;
    background-color: white;
}
.titl
{
    font-size: 40px;
    width:20%;
    height:30%;
    float:left;
    border:1px solid lightgrey;
    text-align: center; 
}
.titl a{
    text-decoration: none;
}
.titl h1{
    font-size: 50px;
}
.navbar{
    padding:20px;
    margin-left:600px;
}
.navbar li
{
    display: inline;
    font-size: 150%;
}
.navbar a{
    font-size: 20px;
    text-decoration: none;
}
li input
{
    width:20%;
    height:10%;
    float:right;
    text-align: center; 
}
.content
{
    width:50%;
    height:100px;
    
    background-color: lightgrey;
}
.image img
{
    width:90%;
    height:10%;
    margin-top:20px;
}
section img{
    width:100%;
    height: 400px;
    margin-bottom:10px;
}
img
{
    width:100%;
    margin-top:100px;
    margin-bottom:10px;
    height:50%;
}
.hero
{
    width:100%;
    height:720px;
    background-image: url("../img/c4.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 500%;
  }

.image
{
    margin:10px  0px 30px 100px;
    align-content: center;
    background-image: url("../img/national-institute-of-technology-karnataka-office.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.hero h1
{
    font-size: 24px;
    text-align: center;
}
.footer li a
{
    text-decoration: none;
}
.contact
{
    background-color:lightgrey;
    width:100%;
}
.contact li 
{
    list-style: none;
    display: inline;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    width:20px;
    height:20px;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    width:20px;
    height:20px;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
    width:20px;
    height:20px;
  }
  